@charset "UTF-8";
@font-face {
    font-family: minhaFonte;
    src: url('fontes/idroid.otf');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063dle;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'minhaFonte';

}
 
* {
    margin: 0px;
    padding: 0px;
}



body {
    font-family: var(--fonte-padrao);
     background-color: #C5EBD6;
    
      
}

header   {

    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    padding-top: 40px;

    
    
}

header > h1 {
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    text-align: center;

}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;

}

 nav {
    background-color:var(--cor4); 
    padding: 10px; 
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.188);

}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}
nav > a:hover {
    background-color: #33B56D;
    
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.426);
    margin-bottom: 30px;
}

main p {
    margin: 10px 10px;
    text-align: justify; 
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main > img {
    width: 100%;
}

main  img.pequena {
      max-width: 350px;
      margin: auto;
      display: block;
}
article > p {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        color: black;
    
     
        font-weight: 200;
        font-style: normal;
        
      }

.titulo1 {
    font-family: var(--fonte-android);
    background-color: white;
    color: #17a45b;


}     
    
strong {
        background-color: #4d2fa8;
        color:white;
      }


main a {
    background-color: #83e1ad;
    text-decoration: none;
    font-weight: bold;
    color: #1a5c37;
    padding: 2px 6px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main  h1 {
    color: var(--cor4);
    margin-left: 10px;
    font-weight: normal;
    
}
h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    background-image:linear-gradient(to right, var(--cor1), transparent);
    text-indent: 2em;
    font-weight: normal;
}
 
div.video {
    margin: 0px 15px 20px 0px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 87%;
    height: 87%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2FA866;
    color: white;
    height: 40px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside {
    

    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.259);
}

ul {
    list-style-type:  '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

 p {
    margin-left: 20px;
}

.agradecimento {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

.eu { 
    
    color: antiquewhite;
}


